.admin-btn {
  background-color: #ecf3e4;
  color: rgba(0, 0, 0, 0.802);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  margin: 10px;
}
